*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #E5E5E5;
}

header{
    display: flex;
    margin: .8rem 0 0 1rem;
    align-items: center;
}

.titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3rem;
    margin-left: .2rem;
}

.logo{
    width: 25px;
}

.contenedor{
    display: flex;
    width: 100%;
    height: calc(100vh - 48px);
}

.contenedor__input-encriptar{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.input-encriptar{
    width: 70%;
    font-family: 'Inter';
    font-size: 1.3rem;
    resize: none;
    border: none;
    outline: none;
    background: none;
    color: #0A3871;
    margin-top: 10rem;
}

.contenedor__input-encriptado{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 90%;
    background-color: #fff;
    border-radius: 20px;
    margin-left: 2rem;
    justify-content: space-between;
    align-items: center;
    min-height: 400px; 
}

.input-encriptado{
    margin-top: .8rem;
    width: 90%;
    height: 40%;
    resize: none;
    border: none;
    outline: none;
    color: #0A3871;
    font-size: 1rem;
    font-family: 'Inter';
    font-size: 1.3rem;
}

.previsualizacion{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 0;
    left: 0;
    top: 50px;
}

#imagen{
    width:250px;
}

.previsualizacion__texto{
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    text-align: center;
}
.previsualizacion__texto2{
    margin-top: .5rem;
    width: 70%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}


.boton-copiar{
    width: 50%;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    background-color: transparent;
    font-weight: 600;
    border-color: white;
    border-left-color: aliceblue;
    border-top-color: aliceblue;
    border-width: 6px;
    border-radius: 6px;
}

.botones{
    text-align: center;
}

.boton{
    padding: 1rem 2.6rem;
    background-color: #0A3871;
    color: white;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-color: white;
    border-width: 6px;
    border-radius: 6px;
    cursor: pointer;
    transition: .3s all;
}

.boton-encriptar{
    margin-right: 2.5rem;
    padding: 1rem 3.5rem;
}

ul{
    list-style-type: none;
}

/* Responsive*/
@media only screen and (max-width: 1024px) {
    .contenedor{
        flex-direction: column;
    }

    .contenedor__input-encriptar{
        width: 100%;
    }

    .contenedor__input-encriptado{
        margin: 2rem auto;
        width: 70%;  
    }

    .previsualizacion{
        position:absolute;
        width: 70%;
        max-width: 600px;
        text-align: center;
        left: 15%;
        top: 20%;
    }
    #imagen{
        width: 200px;
    }
  }
  @media only screen and (max-width: 431px) {
    .boton-encriptar{
        margin: 0 0 1rem 0;
        flex-direction: column;
    }

    #imagen{
        width: 150px;
    }

    .previsualizacion__texto{
        font-size: 1rem;
    }

    .previsualizacion__texto2{
        width: 100%;
        font-size: .8rem;
    }


  }


